<div class="top-image">
  <%= image_tag "nogi-top.jpg" , class: "top-cover"%>
</div>
<div class="row ue-sukima">
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="material-icons">ondemand_video</i>
      <p class="promo-caption">乃木坂の動画を見れます</p>
      <p class="light center">乃木坂の動画を見たいだけ見れます。<br>
      日常の辛いこと、ストレスも吹っ飛びます。<br>
      ちゃんと現実世界に帰ってきてくださいね。</p>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="material-icons">share</i>
      <p class="promo-caption">お気に入り動画を共有できます</p>
      <p class="light center">あなたのお気に入りの動画を投稿できます。<br>
      あなたのお気に入りをぜひ広めてください。<br>
      みんなで一緒にとろけちゃいましょう。</p>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="material-icons">warning</i>
      <p class="promo-caption">動画を見るには一苦労あります</p>
      <p class="light center">そう簡単には動画にたどり着けません。<br>
      人生とはそんなに甘いものではないのです。<br>
      苦労の先にはこの世の天国が待っています。</p>
    </div>
  </div>
</div>
<div class="ue-sukima center-align">
  <a class="btn-large">乃木坂の動画を見る</a>
</div>
